.header{
   display:flex;
   align-items:center;
   justify-content: space-between;
   padding:1rem;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:4rem;
   z-index: 100;
   background-color:rgb(253, 245, 247);
   margin-bottom:2rem;
}

.img{
    border-radius:1rem;
  }
.logo{
    display:flex;
    align-items:center;
    justify-content: flex-start;
    gap:0.5rem;
    flex:1;
}

.logo>span{
    font-weight: bold;
    font-size:1.1rem;
}

.menu{
    flex:1;
    display:flex;
    list-style:none;
    gap:2rem;
    justify-content: center;
    z-index:99;
}

.menu>li:hover{
    cursor:pointer;
    color:var(--themeRed);
}

.rightSide{
    flex:1;
    display:flex;
    gap:1rem;
    justify-content: flex-end;
}

.cart{
    position:relative;
    display:flex;
    cursor:pointer;
    z-index:99;
}

.badge{
    position:absolute;
    display:flex;
    background-color:var(--themeRed);
    color:white;
    width: 20px;
    height: 20px;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    right:-0.5rem;
}

.mobile_drawer{
    display:none;
}


.link{
    color:var(--grey);
    font-weight:600;
    font-size:1rem;
    width:2rem;
    height:2rem;
}

.link:hover{
    color:var(--themeRed);
    transition:all 0.3s ease-in-out;
}

@media only screen and (max-width:768px) {
    .cart{
        margin-right:0.5rem;
    }
    .menu{
        display:none;
    }

    .mobile_drawer{
        display:block;
        color:var(--themeRed);
        font-size:1.5rem;
        cursor:pointer;
    }
    .drawer_div{
        width:40vw;
        background-color:var(--background-color);
        height:100vh;
        padding:1.5rem;
    }
}

