.container{
    display:flex;
    position:relative;
    margin-top:4rem;
}

.left{
    display:flex;
    flex-direction: column;
    gap:2rem;
}

.cherryDiv{
    display:flex;
    align-items: center;
    justify-content: center;
    width:fit-content;
    background-color:var(--pink);
    margin-top:1rem;
    padding:1rem;
    border-radius: 2rem;
    font-size:0.8rem;
    color:var(--themeRed);
    font-weight:bold;
}

.heroText{
    display:flex;
    flex-direction: column;
    font-size:4rem;
    font-weight:bold;
}

.miniText{
    width:70%;
    color:var(--gray);
    font-weight:600;
}

.btn{
    padding:1rem 2.5rem;
}

.right{
    position:relative;
}

.imageContainer{
    width:38rem;
    position: absolute;
    top:-5rem;
    left:0rem;
}

.ContactUs{
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    width:max-content;
    padding:1rem;
    border-radius:5rem;
    top:6rem;
    left:2rem;
    gap:1rem;
    background-color: white;
    box-shadow:var(--shadow);
    color:var(--themeRed)
}

.ContactUs>div{
    background:rgb(59 208 59);
    border-radius:50%;
    width:2.5rem;
    display:flex;
    align-items:center;
    justify-content:center;
    height:2.5rem;
}

.ContactUs:hover{
    cursor: pointer;
    transform:scale(1.1);
}

.Pizza{
    display:flex;
    gap:1rem;
    background-color:white;
    box-shadow:var(--shadow);
    padding:0.5rem;
    border-radius: 0.5rem;
    position:absolute;
    bottom:2rem;
    left:23rem;
    width:max-content;
}

.Pizza>:nth-child(1)
{
    width:6rem;
    height:4rem;
    overflow:hidden;
    border-radius:0.5rem;
}

.Pizza>:nth-child(2){
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight:bold;
}

.Pizza:hover{
    transform:scale(1.1);
    cursor:pointer;
}

@media only screen and (max-width:768px) {
    .heroText{
        font-size:2rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        width:100%;
    }

    .miniText{
        width:97%;
        text-align:center;
    }

    .container{
        flex-direction:column;
        gap:2rem;
    }
    .right{
        display:flex;
        flex-direction: column;
        margin-top:5rem;
    }
    .imageContainer{
        width:95%;
    }

    .Pizza{
        left:8rem;
        bottom:-15.5rem;
        
    }

.Pizza>:nth-child(1)
{
    width:4.5rem;
    height:3rem;
    overflow:hidden;
    border-radius:0.5rem;
}

    .ContactUs{
        left: -1.5rem;
        top: -2rem;
    }

    .ContactUs>span{
        font-size:0.9rem;
        font-weight: bold;
        color:#433535
    }

    .ContactUs>div{
        width:1.7rem;
        height:1.7rem;
    }

    .cherryDiv{
        margin:0 auto;
    }

    .btn{
        padding:0.7rem 2rem;
        margin:0 auto;
    }

}