.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
  margin-top:5rem;
}

.heading {
  font-size: 2rem;
  font-weight: 600;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}

.details > div {
  display: flex;
  justify-content: space-between;
}

.details > div > span:nth-of-type(2) {
  font-weight: 600;
}

.statusContainer {
  display: flex;
  gap: 15rem;
}

.status {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 3rem;
  position: relative;
  align-items: center;
}

.status > * {
  fill: var(--themeRed);
}

.spinner {
  position: absolute;
  left: -1.1rem;
  top: -1rem;
  width: 5.2rem;
}

.pending {
  width: max-content;
  background-color: orange;
  padding: 0.5rem;
  font-size: 0.8rem;
  border-radius: 1rem;
  color: white;
}

/* on the way */
.status:nth-of-type(3) span {
  white-space: nowrap;
}

.completed {
  border-radius: 1rem;
  color: white;
  background-color: rgb(159 230 53);
  padding: 0.5rem;
  font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .details {
    width: 100%;
  }

  .statusContainer {
    gap: 5rem;
    flex-direction: column;
  }
}
