.container{
    display: flex;
    padding:2rem;
    gap:5rem;
    margin-top: 3rem;
}

.imageWrapper{
    position:relative;
    width:40%;
    height:25rem;
    overflow:hidden;
    border-radius:2rem;
}

.imageWrapper:hover{
    transform: scale(1.1);
}

.right{
  flex:1;
  display:flex;
  flex-direction:column;
  font-size:2.2rem;
  font-weight:bold;
  justify-content: space-between;
}

.right>:nth-child(2){
    font-size:1.2rem;
    font-weight: normal;
    color:var(--gray);
}

.size{
    display:flex;
    gap:3rem;
    font-weight: 600;
    font-size:1.6rem;
}

.sizeVariants{
    display:flex;
    gap:0.6rem;
    font-weight:normal;
    color:var(--themeRed);
    font-size: 0.8rem;
}

.sizeVariants>div{
    display:flex;
    align-items:center;
    justify-content: center;
    padding:0.3rem 1.5rem;
    border:2px solid var(--themeRed);
    border-radius: 2rem;
}

.sizeVariants>div:hover{
    background-color: var(--themeRed);
    color:white;
    cursor:pointer;
}

.quantity{
    display:flex;
    font-size:1.6rem;
    font-weight: 600;
    gap:3rem;
}

.counter{
    display:flex;
    gap:1rem;
}

.btn{
    font-weight: normal;
    padding:0.5rem 1rem;
    font-size:1rem;
}

.selected{
    background-color: var(--themeRed);
    color:white;
    cursor:pointer;
}

@media only screen and (max-width:768px) {
    .container{
        flex-direction:column;
        gap:3rem;
        padding:1.2rem;
    }

    .imageWrapper{
        width:100%;
        height:14rem;
    }

    .right{
        font-size:1.6rem;
    }

    .size{
        font-size:1.2rem;
        gap:0.2rem;
        margin-top:1rem;
    }

    .sizeVariants{
        font-size: 0.6rem;
        padding:0rem 1.5rem;
    }

    .quantity{
        font-size:1.2rem;
        margin-top:1.5rem;
    }

    .counter{
        gap:0.5rem;
    }

    .btn{
        font-size:0.8rem;
        margin-top:1.5rem;
    }

    .right>:nth-child(3){
        margin-top:1rem;
    }
}

