.heading{
    display:flex;
    flex-direction:column;
    font-weight:bold;
    justify-content:center;
    align-items:center;
}

.heading>:nth-child(1){
    font-size:1rem;
    color:var(--themeRed);
}

.heading>:nth-child(2),.heading>:nth-child(3){
    font-size:2rem;
    color:var(--themeBlue);
}

.services{
    display:flex;
    margin-top:3rem;
    gap:3rem;
    align-items:center;
    justify-content:center;
}

.feature{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap:1rem;
}

.ImageWrapper{
    width:10rem;
    height:10rem;
}

.feature>:nth-child(2){
    font-weight: bold;
}

.feature>:nth-child(3){
    color:var(--gray);
    word-wrap:break-word;
    width:20rem;
    text-align:center;
}

@media only screen and (max-width:768px){
    .heading{
        font-size:0.5rem !important;
        margin-top:22rem;

    }
    
    .heading>:nth-child(1){
        font-size:1rem;
        color:var(--themeRed);
    }
    
    .heading>:nth-child(2),.heading>:nth-child(3){
        font-size:1.5rem;
        color:var(--themeBlue);
    }

    .services{
        flex-direction: column !important;
    }
}